body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #333;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 400px;
    display: flex;
    transition: transform 0.8s ease;
    transform: translateX(-320px);
    background: #111;
    z-index: 1000;
}

.sidebar-left {
    width: 320px;
    background: #111;
    color: #fff;
    padding: 18px;
}

.sidebar-right {
    width: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #222;
    padding: 0 15px;
}

.toggle-btn {
    height: 40px;
    border: none;
    background: transparent;
    cursor: pointer;
    display: grid;
    place-items: center;
}

.hamburger {
    width: 35px;
    height: 18px;
    position: relative;
}

.hamburger span {
    position: absolute;
    left: 0;
    right: 0;
    height: 3px;
    background: #fff;
    display: block;
    transition: transform 0.28s ease, opacity 0.2s ease, top 0.28s ease;
}

.hamburger span:nth-child(1) {
    top: 0;
}

.hamburger span:nth-child(2) {
    top: 8px;
}

.hamburger span:nth-child(3) {
    top: 16px;
}

.hamburger span:nth-child(4) {
    top: 24px;
}

.hamburger.is-active span:nth-child(1) {
    top: 8px;
    transform: rotate(45deg);
}

.hamburger.is-active span:nth-child(2),
.hamburger.is-active span:nth-child(3) {
    opacity: 0;
}

.hamburger.is-active span:nth-child(4) {
    top: 8px;
    transform: rotate(-45deg);
}

.sidebar-content {
    display: flex;
    flex-direction: column;
    padding: 20px 0;
    overflow: hidden;
}

.sidebar-content a {
    color: #fff;
    text-decoration: none;
    padding: 10px 0 10px 12px;
    font-size: 18px;
    border-radius: 5px;
    transform: translateY(200px);
    transition: transform 0.5s ease;
}

.sidebar-content a:hover {
    background: #333;
}

.sidebar-content.show-links a {
    transform: translateY(0);
}

.sidebar-content a:nth-child(1) {
    transition-delay: 0.1s;
}

.sidebar-content a:nth-child(2) {
    transition-delay: 0.2s;
}

.sidebar-content a:nth-child(3) {
    transition-delay: 0.3s;
}

.sidebar-content a:nth-child(4) {
    transition-delay: 0.4s;
}

.sidebar-content a:nth-child(5) {
    transition-delay: 0.5s;
}

.sidebar.open {
    transform: translateX(0);
}