body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #333;
    padding:80px 0 0 80px;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 400px;
    display: flex;
    transition: transform 0.8s ease;
    transform: translateX(-320px);
    background: #111;
    z-index: 10000;
}
.p-1{
    padding: .4rem !important;
}
.sidebar-left {
    width: 320px;
    background: #111;
    color: #fff;
    padding: 18px;
}

.sidebar-right {
    width: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #222;
    padding: 0 15px;
}

.toggle-btn {
    height: 40px;
    border: none;
    background: transparent;
    cursor: pointer;
    display: grid;
    place-items: center;
}

.hamburger {
    width: 35px;
    height: 18px;
    position: relative;
}

.hamburger span {
    position: absolute;
    left: 0;
    right: 0;
    height: 3px;
    background: #fff;
    display: block;
    transition: transform 0.28s ease, opacity 0.2s ease, top 0.28s ease;
}

.hamburger span:nth-child(1) {
    top: 0;
}

.hamburger span:nth-child(2) {
    top: 8px;
}

.hamburger span:nth-child(3) {
    top: 16px;
}

.hamburger span:nth-child(4) {
    top: 24px;
}

.hamburger.is-active span:nth-child(1) {
    top: 8px;
    transform: rotate(45deg);
}

.hamburger.is-active span:nth-child(2),
.hamburger.is-active span:nth-child(3) {
    opacity: 0;
}

.hamburger.is-active span:nth-child(4) {
    top: 8px;
    transform: rotate(-45deg);
}

.sidebar-content {
    display: flex;
    flex-direction: column;
    padding: 20px 0;
    overflow: hidden;
}

.sidebar-content a {
    color: #fff;
    text-decoration: none;
    padding: 10px 0 10px 12px;
    font-size: 18px;
    border-radius: 5px;
    transform: translateY(200px);
    transition: transform 0.5s ease;
}

.sidebar-content a:hover {
    background: #333;
}

.sidebar-content.show-links a {
    transform: translateY(0);
}

.sidebar-content a:nth-child(1) {
    transition-delay: 0.1s;
}

.sidebar-content a:nth-child(2) {
    transition-delay: 0.2s;
}

.sidebar-content a:nth-child(3) {
    transition-delay: 0.3s;
}

.sidebar-content a:nth-child(4) {
    transition-delay: 0.4s;
}

.sidebar-content a:nth-child(5) {
    transition-delay: 0.5s;
}

.sidebar.open {
    transform: translateX(0);
}

.item-card {
    border-radius: 10px;
    overflow: hidden;
}

.img-wrapper {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}

.img-wrapper img {
    width: 100%;
    display: block;
    border-radius: 10px;
}

.overlay-content {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: rgba(0, 0, 0, 0.774);
    color: #fff;
    text-align: center;
    transform: translateY(100%);
    transition: transform 0.4s ease;
}

.img-wrapper:hover .overlay-content {
    transform: translateY(0);
}

.modal-content{
    background-color: #333;
}
.modal-dialog {
    min-height: 100vh;
    padding-left: 80px;
}

.modal-content {
    margin: 0 auto;
    max-height: 100%;
    overflow: auto;
}
.modal.fade .modal-dialog {
    transform: none !important;
}
#contactForm {
    background-color: #222;
}
#searchSection {
    display: none;
    background-color: #222;
    padding:0 1.5rem 1.5rem;
    border-radius: 0.75rem;
    margin-bottom: 2rem;
    color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

#searchSection input {
    background-color: #343a40;
    color: #fff;
    border: 1px solid #6c757d;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    width: 100%;
    transition: all 0.3s ease;
}

#searchSection input:focus {
    border-color: #0d6efd;
    outline: none;
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
    background-color: #495057;
}
/* ===================== */
/* ITEMS RESPONSIVE GRID */
/* ===================== */
#itemsContainer .item-card {
    cursor: pointer;
}


.ingredient-desc {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top:0;
    background: rgba(0, 0, 0, 0.85);
    font-size: 0.85rem;
    opacity: 0;
    transition: opacity 0.3s;
    max-height: 100%;
    overflow-y: auto;
}

.img-wrapper:hover .ingredient-desc {
    opacity: 1;
}




@media (max-width: 767px) {
    #itemsContainer .col-3 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    #itemsContainer .col-3 {
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@media (min-width: 992px) {
    #itemsContainer .col-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }
}

#fullScreenModal .left-side img {
    width: 100%;
    max-width: 450px;
    height: auto;
}

#fullScreenModal .modal-body {
    flex-direction: column;
}

@media (min-width: 768px) {
    #fullScreenModal .modal-body {
        flex-direction: row;
    }
}